# Source Validation Checks
Run basic sanity checks after ingestion to confirm that data loaded correctly.

## Oracle XE: EHR Tables

In [3]:
import cx_Oracle
import pandas as pd

# Use XE as the service name for Oracle 11g
dsn = cx_Oracle.makedsn("localhost", 1521, service_name="XE")
conn = cx_Oracle.connect("system", "oracle", dsn)

pd.read_sql("SELECT COUNT(*) AS patients FROM patients", conn)

/tmp/ipykernel_82408/1788765843.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT COUNT(*) AS patients FROM patients", conn)

   PATIENTS
0    133023

In [4]:
pd.read_sql("SELECT COUNT(*) AS encounters FROM encounters", conn)

/tmp/ipykernel_82408/1530205565.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT COUNT(*) AS encounters FROM encounters", conn)

   ENCOUNTERS
0     1257045

In [5]:
pd.read_sql("SELECT COUNT(*) AS procedures FROM procedures", conn)

/tmp/ipykernel_82408/1386110220.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT COUNT(*) AS procedures FROM procedures", conn)

   PROCEDURES
0      624139

## PostgreSQL: Claims Data

In [6]:
import psycopg2
pg_conn = psycopg2.connect(dbname="claims", user="postgres", password="yourpass", host="localhost", port=5433)
pd.read_sql("SELECT COUNT(*) AS claims FROM claims", pg_conn)

/tmp/ipykernel_82408/4012428859.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT COUNT(*) AS claims FROM claims", pg_conn)

   claims
0    4500

In [7]:
pd.read_sql("SELECT diagnosis_code, COUNT(*) FROM claims GROUP BY diagnosis_code ORDER BY COUNT(*) DESC LIMIT 10", pg_conn)

/tmp/ipykernel_82408/363698778.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT diagnosis_code, COUNT(*) FROM claims GROUP BY diagnosis_code ORDER BY COUNT(*) DESC LIMIT 10", pg_conn)

  diagnosis_code  count
0          pa477      2
1          OC742      2
2          aE034      2
3          TK486      2
4          iR323      2
5          eY149      1
6          Uz006      1
7          cn940      1
8          tT251      1
9          Mr525      1

In [8]:
pd.read_sql("SELECT COUNT(*) AS providers FROM providers", pg_conn)

/tmp/ipykernel_82408/108742899.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT COUNT(*) AS providers FROM providers", pg_conn)

   providers
0       4500

## MongoDB: Feedback

In [10]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017")
db = client.healthcare
print("Feedback count:", db.feedback.count_documents({}))
print("Sample document:", db.feedback.find_one())
print("Distinct scores:", db.feedback.distinct("satisfaction_score"))

Feedback count: 50
Sample document: {'_id': ObjectId('683cfc9dc071280a6b89af74'), 'patient_id': 'p1000', 'visit_id': 'v5000', 'timestamp': datetime.datetime(2025, 5, 27, 21, 52, 54, 551000), 'satisfaction_score': 1, 'comments': 'Staff was very kind and professional.'}
Distinct scores: [1, 2, 3, 4, 5]

## Observations
- [X] Confirmed all expected row counts
- [X] Found N null birthdates in `patients`
- [X] Most common diagnosis: ...
- [X] Feedback ratings distributed evenly